<div class="row">
  <div class="col-md-12">
    <div id="blog-show">
      <div class="blog-header">
        <h2><%= @blog.title %></h2>
      </div>

  <!-- TODO:

        <p>
        <strong>Published at:</strong>
        <%= @blog.published_at %>
      </p>

      <p>
        <strong>Views:</strong>
        <%= @blog.views %>
      </p>
    -->

      <div class="blog-body">
        <%= @blog.body_html.html_safe %>
      </div>

      <div class="blog-footer">
        <!-- TODO: This. -->
      </div>
    </div>
  </div>
</div>