extends layout

block content
  script(type='text/javascript').
    var weeks = !{weeks};
    var commutes = !{commutes};

  h2 Vikan í æfingum
  #current-week-activities

  h2 Árið í æfingum
  #weekly-activities
    #weekly-graph-container

  h2 Hjólað í vinnuna
  svg#commutes(height=50, width=500)
  #commutes-progress-bar-info
    .left
    .right
  #commutes-progress-bar
