extends layout

block content
  script(type='text/javascript').
    var activities = !{activities};
    var commutes = !{commuteData};

  h2 Hjólað í vinnuna
    svg#commute(height=100, width=500)
      rect.yes(width=10, height=10, x=0, y=0)
      rect.yes(width=10, height=10, x=0, y=0)
      rect.yes(width=10, height=10, x=0, y=0)
