// @bg-color: rgb(56, 63, 73);
@bg-color: #f5f4f2;
@sidebar-color: #fff;
@sidebar-lighter-color: rgb(85, 98, 109);
@text-color: #222;
@border-color: darken(@bg-color, 10%);

body {
  font-family: Lato, Arimo, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.8;
  font-size: 18px;
  background-color: @bg-color;
}

#content {
  position: absolute;
  left: 350px;
  padding-left: 30px;
  padding-top: 40px;
  width: 900px;
  font-family: medium-content-sans-serif-font, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
}

.blog {
  .image {
    margin: 40px auto;
    display: block;
    text-align: center;
    img {
      display: block;
      width: 100%;
      height: auto;
      margin: 0 auto;
    }
    figcaption {
      color: rgba(0, 0, 0, 0.5);
      font-size: 0.8em;
    }
  }
  .divider {
    margin: 30px 0 40px 0;
    text-align: center;
    font-family: "Open Sans","Helvetica Neue",sans-serif;
    font-weight: 400;
    letter-spacing: 15px;
  }
  p {
    margin: 0 0 15px;
    line-height: 30px;
  }
  blockquote {
    color: rgba(0, 0, 0, 0.7);
  }
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 320px;
  background-color: @sidebar-color;
  padding-right: 25px;
  box-shadow: 0 1px 3px hsla(0,0%,39%,.15);

  #sidebar-inner {
    width: 270px;
    float: right;

    #intro {
      margin-top: 50px;
      text-align: center;
      img {
        border-radius: 50%;
      }
      h1 {
        text-transform: uppercase;
        font-size: 1.2em;
        color: @text-color;
        a {
          color: @text-color;
        }
        a:hover {
          text-decoration: none;
        }
      }
    }

    #footer {
      position: absolute;
      bottom: 15px;
      right: 20px;
      font-size: 0.8em;
      color: @text-color;
      a {
        color: @text-color;
        text-decoration: underline;
      }

      #social {
        text-align: right;
        margin-bottom: 15px;
        img {
          margin-left: 6px;
        }
      }
    }

    #navigation {
      margin-top: 70px;
      margin-bottom: 10px;
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
          border-top-style: solid;
          border-top-width: 1px;
          border-top-color: @border-color;
          text-align: right;

          a {
            display: block;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 16px;
            -webkit-font-smoothing: antialiased;
            color: @text-color;
            padding: 7px 10px;
            width: 100%;
          }

          &:last-child {
            border-bottom-style: solid;
            border-bottom-width: 1px;
            border-bottom-color: @border-color;
          }
        }
        li.active {
          a {
            color: @text-color !important;
            font-weight: bold;
          }
        }
        li:hover {
          background-color: @bg-color;
          a {
            color: @text-color !important;
            text-decoration: none;
          }
        }

      }
    }
  }
}
