// @bg-color: rgb(56, 63, 73);
@bg-color: rgb(244, 244, 244);
@sidebar-color: rgb(56, 63, 73);
@sidebar-lighter-color: rgb(85, 98, 109);

body {
  font-family: Lato, Arimo, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.8;
  font-size: 17px;
  background-color: @bg-color;
}

#content {
  position: absolute;
  left: 40%;
  padding-left: 30px;
  padding-top: 50px;
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 40%;
  right: 60%;
  background-color: @sidebar-color;
  padding-right: 10px;

  #sidebar-inner {
    width: 250px;
    float: right;

    #intro {
      margin-top: 70px;
      text-align: center;
      img {
        border-radius: 50%;
      }
      h1 {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1em;
        color: @bg-color;
      }
    }

    #footer {
      position: absolute;
      bottom: 15px;
      right: 20px;
      font-size: 0.8em;
      color: @bg-color;
      a {
        color: @bg-color;
        text-decoration: underline;
      }
    }

    #social {
      margin-top: 40px;
      text-align: center;
      img {
        margin-left: 6px;
      }
    }

    #navigation {
      margin-top: 50px;
      margin-bottom: 10px;
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;


        li {
          border-top-style: dotted;
          border-top-width: 1px;
          border-top-color: @sidebar-lighter-color;

          a {
            display: block;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 14px;
            -webkit-font-smoothing: antialiased;
            color: @bg-color;
            padding: 7px 10px;
            width: 100%;
          }

          &:last-child {
            border-bottom-style: dotted;
            border-bottom-width: 1px;
            border-bottom-color: @sidebar-lighter-color;
          }
        }
        li.active {
          a {
            color: #fff !important;
          }
        }
        li:hover {
          background-color: @sidebar-lighter-color;
          a {
            color: @bg-color !important;
            text-decoration: none;
          }
        }

      }
    }
  }
}

#commutes {
  display: block;
  margin-top: 10px;
  clear: both;
}

#commutes rect {
  shape-rendering: crispedges;
}

#commutes .yes {
  background-color: green;
  fill: #669d45;
}

#commutes .no {
  background-color: red;
}

#commutes .na {
  background-color: #ededed;
  fill: #ededed;
}

#commutes-progress-bar-info {
  margin-top: 20px;
  font-size: 0.9em;
  .left {
    float: left;
  }
  .right {
    float: right;
  }
}

#commutes-progress-bar {
  line-height: 3px;
  clear: both;
}

.page-panel {
  margin-bottom: 30px;
}

#current-week-activities {
  margin-left: 20px;
  font-size: 0.9em;

  #current-week-table {
    td {
      vertical-align: top;
    }

    .progressbar-text {
      font-size: 0.7em;
      top: 40% !important;
    }

    .sport {
      padding-top: 3px;
      font-weight: bold;
    }

    .actual {
      padding-top: 3px;
      text-align: right;
      padding-right: 10px;
    }

    .planned {
      padding-top: 3px;
      padding-left: 10px;
    }

    .progress-containers {
      width: 35px;

    }
  }
}
