<div class="row">
  <div class="col-md-8">
    <h2> Exercise (<a href="http://sportscal.herokuapp.com/u/krummi">more</a>)</h2>     
    <div id="loading-spinner"></div>
    <div id="exercise"></div>
  </div>
  <div class="col-md-4">
    <h2>Introduction</h2>

    <div id="intro">
      <p>Hey! My name is Hrafn.</p>
      <p>Contact me at <a href="mailto:hrafn@eiriksson.is">hrafn@eiriksson.is</a>.</p>
    </div>

    <a href="http://www.facebook.com/hrafn" class="icon">
      <img src="img/facebook.png" />
    </a>
    <a href="http://is.linkedin.com/in/hrafneiriksson" class="icon">
      <img src="img/linkedin.png" />
    </a>      
    <a href="http://www.last.fm/user/krumm" class="icon">
      <img src="img/lastfm.png" />
    </a>
    <a href="http://www.github.com/krummi/" class="icon">
      <img src="img/github.png" />
    </a>
    <a href="http://www.imdb.com/name/nm4624562/" class="icon">
      <img src="img/imdb.png" alt="Yup, I'm on IMDB." title="Yup, I'm on IMDB." />
    </a>
  </div>
</div>

<script type="text/javascript">
$(function() {
  kweb.displaySpinner();
  kweb.loadExerciseData();

  function update() {
    if (kweb.exerciseData !== null) {
      $('#exercise').empty();
      kweb.heatmap();
    }
  }

  // Worst code ever. :-)
  enquire.register("screen and (max-width: 200px)", { match: update });
  enquire.register("screen and (min-width: 201px) and (max-width: 300px)", { match: update });
  enquire.register("screen and (min-width: 301px) and (max-width: 400px)", { match: update });
  enquire.register("screen and (min-width: 401px) and (max-width: 500px)", { match: update });
  enquire.register("screen and (min-width: 501px) and (max-width: 600px)", { match: update });
  enquire.register("screen and (min-width: 601px) and (max-width: 700px)", { match: update });
  enquire.register("screen and (min-width: 768px) and (max-width: 992px)", { match: update });
  enquire.register("screen and (min-width: 993px)", { match: update }, true);
});
</script>