<div class="row">
  <div class="col-md-8">
    <h2>
      Writings
      <span style="float: right;"><a href="/rss" style="color: #ccc;"><i class="fa fa-rss"></i></a></span>
    </h2>
    <% @blogs.each do |blog| %>
      <div class="blog">
        <h3><a href="/"><%= blog.title %></a></h3>
        <span class="timestamp"><%= blog.published_at.strftime('%B %-d, %Y') %></span>
        <!-- TODO: November 6th, 2013 -->
      </div>
    <% end %>
  </div>
  <div class="col-md-4">
    <h2>Roadmap</h2>
    2. desember - PlanetLab
  </div>
</div>