<div class="row">
  <div class="col-md-8">
    <h2>
      Writings
      <span style="float: right;"><a href="/rss" style="color: #ccc;"><i class="fa fa-rss"></i></a></span>
    </h2>

    <a href="/" style="font-size: 17px;">The P2PLS Agent Design</a>
    <br />
    <span style="color: #888; font-style: italic; font-size: 15px;">November 6th, 2013</span>
  </div>
  <div class="col-md-4">
    <h2>Roadmap</h2>
    31. nóvember - PlanetLab
  </div>
</div>