<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Hrafn Eiríksson | hrafn.eiriksson.is</title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="me">
        <img id="gravatar" alt="My gravatar" src="http://gravatar.com/avatar/310ce773beb4d8abf81aea1325a4c2cf?s=93" />   
        <h1> 
          <a href="http://hrafn.eiriksson.is" title="a.k.a. krummi" rel="home">
            HRAFN EIRÍKSSON
          </a>
        </h1> 
        <span>Software engineer at <a href="http://www.oz.com">OZ</a>. Student at <a href="http://www.ru.is">Reykjavik University</a>.</span>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h2> Exercise (<a href="http://sportscal.herokuapp.com/u/krummi">more</a>)</h2>     
      <div id="loading-spinner"></div>
      <div id="exercise"></div>
    </div>
    <div class="col-md-4">
      <h2>Introduction</h2>

      <p id="intro">Hey! My name is Hrafn.</p>
      <p>Contact me at <a href="mailto:hrafn@eiriksson.is">hrafn@eiriksson.is</a>.</p>

      <a href="http://www.facebook.com/hrafn" class="icon">
        <img src="img/facebook.png" />
      </a>
      <a href="http://is.linkedin.com/in/hrafneiriksson" class="icon">
        <img src="img/linkedin.png" />
      </a>      
      <a href="http://www.last.fm/user/krumm" class="icon">
        <img src="img/lastfm.png" />
      </a>
      <a href="http://www.github.com/krummi/" class="icon">
        <img src="img/github.png" />
      </a>
      <a href="http://www.imdb.com/name/nm4624562/" class="icon">
        <img src="img/imdb.png" alt="Yup, I'm on IMDB." title="Yup, I'm on IMDB." />
      </a>
    </div>
  </div>
  <!--
  <div class="row">
    <div class="col-md-8">
      <h2>
        Writings
        <span style="float: right;"><a href="/rss" style="color: #ccc;"><i class="fa fa-rss"></i></a></span>
      </h2>

      <a href="/" style="font-size: 17px;">The P2PLS Agent Design</a>
      <br />
      <span style="color: #888; font-style: italic; font-size: 15px;">November 6th, 2013</span>
    </div>
  </div>
  -->
</div>

<!-- GA tracking -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45997429-1', 'eiriksson.is');
  ga('send', 'pageview');

</script>
</body>

</html>