<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Hrafn Eiríksson | hrafn.eiriksson.is</title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="me">
        <img id="gravatar" alt="My gravatar" src="http://gravatar.com/avatar/310ce773beb4d8abf81aea1325a4c2cf?s=93" />   
        <h1> 
          <a href="http://hrafn.eiriksson.is" title="a.k.a. krummi" rel="home">
            HRAFN EIRÍKSSON
          </a>
        </h1> 
        <span>Software engineer at <a href="http://www.oz.com">OZ</a>. Student at <a href="http://www.ru.is">Reykjavik University</a>.</span>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h2> Exercise (<a href="http://sportscal.herokuapp.com/u/krummi">more</a>)</h2>     
      <script type="text/javascript">
$(function() {
  // Configure spin.js.
  var opts = {
    lines: 11, // The number of lines to draw
    length: 10, // The length of each line
    width: 2, // The line thickness
    radius: 11, // The radius of the inner circle
    corners: 1, // Corner roundness (0..1)
    rotate: 27, // The rotation offset
    direction: 1, // 1: clockwise, -1: counterclockwise
    color: 'green', // #rgb or #rrggbb or array of colors
    speed: 0.9, // Rounds per second
    trail: 50, // Afterglow percentage
    shadow: false, // Whether to render a shadow
    hwaccel: false, // Whether to use hardware acceleration
    className: 'spinner', // The CSS class to assign to the spinner
    zIndex: 2e9, // The z-index (defaults to 2000000000)
    top: 'auto', // Top position relative to parent in px
    left: 'auto' // Left position relative to parent in px
  };
  var target = document.getElementById('loading-spinner');
  var spinner = new Spinner(opts).spin(target);  
  jQuery.ajax({
    "async": true, //cannot be false for JSONP
    "url": "http://sportscal.herokuapp.com/callback.json?user=krummi&callback=flipp",
    "dataType": 'jsonp',
    "method": "GET",
    "error": function (jqXHR, textStatus, errorThrown) {
        console.log(textStatus + ': ' + errorThrown);
    },
    "success": function (data, textStatus, jqXHR) {
      var results = {};
      for (var i = 0; i < data.length; i++) {
          var day = new Date(data[i]['performed_at']);
          var stuff = day.getTime() / 1000;
          if (stuff in results) {
            results[stuff] += 1;
          } else {
            results[stuff] = 1;
          } 
      }
      $('#loading-spinner').hide();
      $('#stuff').show();
      var cal = new CalHeatMap();
      cal.init({
        itemSelector: "#stuff",
        domain: "month",
        subDomain: "x_day",
        data: results,
        start: new Date(2013, 6, 1),
        cellSize: 10,
        cellPadding: 2,
        domainGutter: 20,
        range: 5,
        domainDynamicDimension: false,
        domainLabelFormat: function(date) {
          moment.lang("en");
          return moment(date).format("MMMM").toUpperCase();
        },
        legend: [1, 3, 5, 7],
        displayLegend: false
      });
    }
  });
});
      </script>
      <div id="loading-spinner" style="height: 70px; ">

      </div>
      <div id="stuff" style="padding-top: 5px; display: none;">
      </div>      
    </div>
    <div class="col-md-4">
      <h2>Introduction</h2>

      <p id="intro">Hey! My name is Hrafn.</p>
      <p>Contact me at <a href="mailto:hrafn@eiriksson.is">hrafn@eiriksson.is</a>.</p>

      <a href="http://www.facebook.com/hrafn" class="icon">
        <img src="img/facebook.png" />
      </a>
      <a href="http://is.linkedin.com/in/hrafneiriksson" class="icon">
        <img src="img/linkedin.png" />
      </a>      
      <a href="http://www.last.fm/user/krumm" class="icon">
        <img src="img/lastfm.png" />
      </a>
      <a href="http://www.github.com/krummi/" class="icon">
        <img src="img/github.png" />
      </a>
      <a href="http://www.imdb.com/name/nm4624562/" class="icon">
        <img src="img/imdb.png" alt="Yup, I'm on IMDB." title="Yup, I'm on IMDB." />
      </a>
    </div>
  </div>
  <!--
  <div class="row">
    <div class="col-md-8">
      <h2>
        Writings
        <span style="float: right;"><a href="/rss" style="color: #ccc;"><i class="fa fa-rss"></i></a></span>
      </h2>

      <a href="/" style="font-size: 17px;">The P2PLS Agent Design</a>
      <br />
      <span style="color: #888; font-style: italic; font-size: 15px;">November 6th, 2013</span>
    </div>
  </div>
  -->
</div>
</body>

</html>